<h2>Settings</h2>
<!-- view reorder elements -->
<p>
    Reorder rooms
</p>
<p>
    Set display name
</p>
<form class="d-flex needs-validation g-2 align-items-end justify-content-between" (ngSubmit)="onSubmitName(f)" #f="ngForm">
    <div class="m-2">
        <label for="new-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="new-name" value="General" name="new-name" ngModel required>
    </div>
    <div class="m-2">
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Ok</button>
    </div>
</form>
<p>
    Color settings
</p>